@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

#main {
  background-color: rgb(16, 14, 29);
}
#search {
  background-color: rgb(30, 33, 58);
}
